body{
    margin: 0;
}
.welcome{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p, button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    cursor: pointer;
}
.video{
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.contain > *{
    margin: 0;
}
.game > *{
    margin: 0;
}
.game{
    display: flex;
    background-color: rgb(53, 1, 41);
    z-index: 20;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    padding: 25px 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #000000;
    color: white;
}
.game > p {
    font-size: 16px;
    font-weight: bold;
}
.btn-deal{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(53, 1, 41);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.btn-deal:hover{
    background-color: rgb(176, 21, 21);
    border-color: rgb(176, 21, 21);
    transition: 0.15s;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.moves-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.moves-div-play{
    display: flex;
    align-items: center;
    gap: 10px;
}
.new-card-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.btn-choice{
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
}
.btn-choice:hover{
    background-color: rgb(176, 21, 21);
    color: white;
    transition: 0.15s;
    border: none;
}
.deal-card-div > *{
    margin: 0px;
}
.cards{
    width: 50px;
}
.deal-card-div{
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 576px) {
   .contain{
    padding: 0px 35px;
   }
   .game{
    text-align: center;
    padding: 20px 0px;
   }
   .game h1{
    font-size: 25px;
    font-weight: bold;
   }
   .moves-div{
    flex-direction: column;
   }
}